
{% extends 'main.html' %}
{% block content %}
{% load static %}
<body>
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <!-- TOP ICONS -->
                <ul class="eskimo-top-icons">
                    <li id="eskimo-panel-icon">
                        <a href="#eskimo-panel" class="eskimo-panel-open"><i class="fa fa-bars"></i></a>
                    </li>
                    <li id="eskimo-search-icon">
                        <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- PAGE TITLE -->
                <div class="eskimo-page-title">
                    <h1><span>{{user.name}}</span></h1>
                    <p class="main" style="color: white;"><i>{{user.email}}</i></p>
                    <p class="eskimo-page-subtitle">{{user.work}}</p>
                </div>
                <!-- ABOUT ME -->
                <div class="row">
                    <div class="col-12 col-lg-7 order-2 order-lg-1">
                        <p>{{user.bio}}</p>                       
                       
                    </div>
                    <div class="col-12 col-lg-5 order-1 order-lg-2 mb-5 mb-lg-0">
                        <img src="{{user.avatar.url}}" alt="" class="img-fluid mx-auto d-block eskimo-img-shadow" />
                    </div>
                </div>
                <hr />
                <h2>CONTACT ME</h2>
                <p>Write your complain below. One of our Customer Services will attend to shortly..</p>
                <!-- CONTACT FORM -->
                <form id="ajax-form" action="" method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <p>
                                <label>Your Name</label><br />
                                {{form.name}}
                                <!-- <input type="text" name="sendername" id="sendername" class="form-control" required="required" maxlength="50" /> -->
                            </p>
                            <p>
                                <label>Your Email</label><br />
                                {{form.email}}
                                <!-- <input type="email" name="senderemail" id="senderemail" class="form-control" required="required" maxlength="50" /> -->
                            </p>
                            <p>
                                <label>Phone Number</label><br />
                                {{form.phone}}
                                <!-- <input type="text" name="senderphone" id="senderphone" class="form-control" maxlength="50" /> -->
                            </p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <p>
                                <label>Your Message</label><br />
                                {{form.messages}}
                                <!-- <textarea name="sendermessage" id="sendermessage" required="required" class="form-control form-fixed-height"></textarea> -->
                            </p>
                            <button id="sendbutton" type="submit" class="btn btn-lg w-100">Send Message</button>
                        </div>
                    </div>
                  
                </form>
                <div id="form-messages"></div>
            </div>
        </main>
        <!-- FOOTER -->
        <footer id="eskimo-footer">
            <div class="container">
                <div class="row eskimo-footer-wrapper">
                    <!-- FOOTER WIDGET 1 -->
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <h5 class="eskimo-title-with-border"><span>About Me</span></h5>
                        <p>{{user.bio|truncatewords:20}}</p>
                        <p><a href="{% url 'about' user.id %}" class="btn btn-default">Read More</a></p>
                    </div>                
                </div>
            </div>
        </footer>
    </div>
    <!-- GO TO TOP BUTTON -->
    <a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>
    <!-- SLIDE PANEL -->
    <div id="eskimo-panels">
        <aside id="eskimo-panel" class="eskimo-panel">
            <div class="eskimo-panel-inner">
                <!-- CLOSE SLIDE PANEL BUTTON -->
                <a href="#" class="eskimo-panel-close"><i class="fa fa-times"></i></a>
                <!-- AUTHOR BOX -->
                <div class="eskimo-author-box eskimo-widget">
                    <div class="eskimo-author-img">
                        <img src="{{user.avatar.url}}" alt="JOHN DOE" />
                    </div>
                    <h3><span>{{user.name}}</span></h3>
                    <p class="eskimo-author-subtitle">{{user.work}}</p>
                    <p class="eskimo-author-description">{{user.bio|truncatewords:20}}</p>
                    <div class="eskimo-author-box-btn">
                        <a class="btn btn-default" href="{% url 'about' user.id %}">CONTACT ME</a>
                    </div>
                </div>
                <!-- RECENT POSTS -->
                <div class="eskimo-recent-entries eskimo-widget">
                    <h5 class="eskimo-title-with-border"><span>Recent Posts</span></h5>
                    <ul>
                        {% for post in posts %}
                        <li>
                            <a href="{% url 'post' post.id %}">{{post.name}}</a>
                            <span class="post-date">{{post.created|date}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- CATEGORIES -->
                <div class="eskimo-categories eskimo-widget">
                    <h5 class="eskimo-title-with-border"><span>Categories</span></h5>
                    <ul>
                        {% for topic in topics %}
                        <li>
                            <a href="{% url 'category' %}?s={{topic.name}}" title="">{{topic.name}}</a> <span class="badge badge-pill badge-default">{{topic.post_set.all.count}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
    </div>
    <!-- FULLSCREEN SEARCH -->
    <div id="eskimo-fullscreen-search">
        <div id="eskimo-fullscreen-search-content">
            <a href="#" id="eskimo-close-search"><i class="fa fa-times"></i></a>
            <form role="search" method="get" action="" class="eskimo-lg-form">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter a keyword..." name="s" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- JS FILES -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/salvattore.min.js' %}"></script>
    <script src="{% static 'js/panel.js' %}"></script>
    <script src="{% static 'js/reading-position-indicator.js' %}"></script>
    <script src="{% static 'js/featherlight.js' %}"></script>
    <script src="{% static 'js/ajax-contact-form.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
{% endblock %}
